.about {
  padding: 46px 15px;
  margin: 0 auto;
  background-color: $color-light;
  @include for-large-up {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}
.article {
  @include for-large-up {
    width: 555px;
  }
  &:last-child {
    margin-top: 20px;
    @include for-large-up {
      margin-top: 0;
    }
  }

  &__title {
    margin: 0;
    line-height: 32px;
    font-size: 22px;
    font-weight: 700;
  }
  &__text {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 32px;
  }
}
