.header {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 64px;
  width: 100%;
  background-color: #fff;
}
.navigation {
  display: none;
}
.header__button {
  display: none;
}
.header__menu-button {
  background-color: transparent;
  border: none;
  margin-left: auto;
  height: 100%;
  width: 58px;
  border-left: 1px solid #00000026;
}
.header__menu-icon {
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
  display: inline-block;
}

@media screen and (min-width: 400px) {
  .header {
    width: 1140px;
    height: 62px;
    margin: auto;
    display: flex;
    background-color: transparent;
  }
  .header__menu-button {
    display: none;
  }
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }
  .top-section {
    background-color: #f3c6bd;
    padding-top: 39px;
  }
  .header__button {
    display: block;
  }
  .logo__description {
    font-size: 18px;
    line-height: 25px;
    opacity: 0.6;
  }
  .logo__img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}

.navigation__item {
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
  color: #2b292d;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__item:last-child {
  margin-right: 0px;
}
.navigation__arrow {
  display: inline-block;
  height: 5px;
  width: 8px;
  margin-left: 11px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
}
.logo {
  display: flex;
}
.logo__img {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  display: none;
}
.top-section {
  background-color: #f3c6bd;
}
