.headline {
  width: 100%;
  @include for-large-up {
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 84px;
    padding-bottom: 77px;
    width: 1140px;
  }
  &__content {
    margin: 35px 15px 33px 15px;
    @include for-large-up {
      position: absolute;
      margin: 0;
      z-index: 1;
    }
  }
  &__title {
    margin: 0;
    line-height: 50px;
    font-size: 50px;
    letter-spacing: -0.3125px;
    font-weight: 700;
    @include for-large-up {
      width: 754px;
      height: 165px;
      line-height: 78px;
      font-weight: bold;
      font-size: 80px;
      letter-spacing: -0.5px;
      z-index: 1;
    }
  }
  &__description {
    margin-top: 24px;
    margin-bottom: 0;
    line-height: 34px;
    font-size: 24px;
    @include for-large-up {
      margin-top: 34px;
      margin-bottom: 0;
      width: 456px;
      height: 102;
      line-height: 34px;
      font-size: 24px;
      z-index: 1;
    }
  }
  &__actions {
    margin-top: 30px;
    @include for-large-up {
      margin-top: 58px;
      display: flex;
    }
  }
  &__action-btn {
    @include for-large-down {
      width: 100%;
    }
  }

  &__learn-more-btn {
    margin-top: 15px;
    width: 158px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    color: #3040c4;
    background: $color-white;
    @include for-large-up {
      margin-left: 10px;
      margin-top: 0;
    }
    @include for-large-down {
      width: 100%;
    }
  }
  &__banner {
    margin-bottom: 36px;
    width: 100%;
    @include for-large-up {
      position: relative;
      right: -105px;
      top: 0;
      margin-left: auto;
      width: 796px;
      height: 448px;
    }
  }
}
